<h1>Trophy Room</h1>
<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>


<%= stylesheet_link_tag "flickrbomb.css" %>
<%= javascript_include_tag "jquery.flickrBomb.min.js" %>

<img src=""></img>
