<h2>SHOW a specific Organization</h2>

<strong>This is the <%= @organization.organization_name %> organization</strong><br/>
<div>
	This organization's ID Number is: <%= @organization.id %> </br>
	<%= link_to "FAN!", :controller => "organizations", :action => "add", :id => params[:id] %>
</div>
<%= link_to "Remove Organization", :controller => "organizations", :action => "remove", :id => params[:id] %>